.address {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    gap: 16px;
}

.address-one {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.address:hover {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
}

.address a:hover {
    text-decoration: underline;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: underline;
    color: #FFFFFF;
    display: inline-block;
}

.address-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.address-info a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dani {
    font-size: 13px;
    color: rgba(116, 114, 114, 1);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 15.23px;
    letter-spacing: 0px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-address {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-foto {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-info {
        align-items: center;
    }

    .footer-image-container {
        display: none;
    }
}