.beauty span {
    text-transform: capitalize;
    font-family: Roboto;
    font-weight: 600;
}

.beauty {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 40px;
}

.beauty-foto {
    width: 335;
    height: 328;
    top: 656px;
    left: 837px;
    display: flex;
}