.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.primary-container {
    display: flex;
    flex-direction: column;
    padding-left: 106px;
}