.hero {
    position: relative;
    padding: 180px 0;
    background-image: url("/imeges/image 1576.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    z-index: 0;
}

.hero-section .section-head {
    padding: 16px;
    margin-bottom: 0%;
}

.hero__title span {
    display: block;
}

.hero__description {
    color: #4a4a4a;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 124px;
    margin-top: 0;
    width: 238px;
    height: 36px;
}

.hero__title {
    color: #2b7fff;
    font-family: 'Play', sans-serif;
    font-size: 140px;
    line-height: 0.8;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 635px;
    left: 2px;
}

.hero :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -68px;
    background-image: url("../imeges/image 1576.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: -1;
}