.about-us-images {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-us-images-container {
    width: 100%;
}

.about-us-img.before {
    margin-right: auto;
}

.about-us-img {
    display: block;
    object-fit: cover;
    width: 328px;
    height: 328px;
    border-radius: 50%;
}

.about-us-img.after {
    margin-left: auto;
}

.about-us-img {
    display: block;
    object-fit: cover;
    width: 328px;
    height: 328px;
    border-radius: 50%;
}