.section-title {
    color: rgba(1, 28, 68, 1);
    font-family: Play, sans-serif;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}
#Why-we {
    background-image: url("../imeges/background\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 350px;
}
.section__head {
    color: #011c44;
    font-size: 18px;
    margin-bottom: 16px;
    padding-top: 16px;
    margin-top: 0;
margin-left: 25px;
}
.section {
    padding: 40px 0;
    text-align: center;
}
.section__one {
    padding: 88px 0;
    position: relative;
    overflow: hidden;
}