.stars {
    position: relative;
}

.star {
    position: absolute;
    animation: spin-scale 5s infinite ease-in-out;
    
}

.star-1 {
    bottom: 300px;
    right: 333px;
}

.star-2 {
    bottom: 670px;
    right: 50px;
}

.star-3 {
    bottom: 500px;
    right: 0px;
}