.link {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 18px;
    display: inline;
    margin: 10;
    padding: 10;
    box-sizing: border-box;

}

.link:hover {
    color: #2B7FFF;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    display: inline-block;

}

.link-two {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s;

}

.link-two:hover {
    color: #2b7fff;
    font-weight: bold;
    font-weight: bolder
}

.link-two:active {
    color: #ffd700;
}